.box-chat {
    width: 360px;
    max-height: 800px;
    height: max-content;
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.user-info i.bx.bxs-left-arrow-alt {
    font-size: 30px;
    color: #000;
    margin-top: 5px;
    margin-right: 5px;
}

.user-info img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid #000;
    margin: 0 10px;
}
.status {
 color: #444;
 font-size: 15px;
}

.chat-win {
    width: 100%;
    max-height: 390px;
    margin: 10px 0;
    background-color: rgb(235, 232, 232);
    padding: 10px;
    border-radius: 5px;
    position: relative;
    overflow: hidden auto;
}
.chat-win::-webkit-scrollbar-corner {
    width: 10px;
    background-color: blue;
}
.chat-win .chat {
    width: 240px;
    height: max-content;
    padding: 8px;
    position: relative;
}
.out {
    background-color: #444;
    color: #fff;
    /* position: relative;
    left: 30%; */
    float: right;
    margin: 8px 0;
    border-radius: 10px 10px 0 10px;
}

.in img {
    width: 30px;
    height: 30px;
    position: absolute;
    bottom: 0;
    border: 1px solid #000;
    border-radius: 50%;
    margin-right: 5px;
}
.in {
    position: relative;
}
.in .details{
    position: relative;
    left: 45px;
    background-color: #fff;
    width: 240px;
    height: max-content;
    padding: 8px;
    border-radius: 10px 10px 10px 0;
}

.mess input {
    height: 35px;
    margin-top: 10px;
    border-radius: 10px;
    border: .5px solid #000;
    padding: 5px;
}
input[type="text"] {
    width: 75%;
    margin-right: 5px;
    word-wrap: break-word;
    
}