body {
	background-color: #e9e9e9;
	font-family: sans-serif;
	position: relative;
	height: 100vh;
}


* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

container {
	margin: 0 auto;
}

.row {
	display: flex;
	flex-direction: row;
}

.column {
	display: flex;
	flex-direction: column;
}

.between {
	justify-content: space-between;
}


.around {
	justify-content: space-around;
}