
.box {
	width: 400px;
	height: max-content;
	border-radius: 10px;
	background-color: #FDFDFD;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	padding: 20px 25px;
	box-shadow: 0 0 2px 0;
}
.box h3 {
	text-align: center;
	margin-bottom: 8px;
}

.box hr {
	margin-bottom: 8px;
}

.box form label {
	display: flex;
	flex-direction: column;
	margin: 6px 0;
	font-weight: 400;
	font-size: 18px;
}

form label input , input[type="submit"]  {
	width: 100%;
	height: 30px;
	padding: 5px 8px;
	font-size: 18px;
	font-weight: 100;
	margin-top: -2px;
	border-radius: 5px;
	border: 1px solid rgb(100, 100, 100);
	color: rgb(49, 49, 49);
}

#error {
	width: 100%;
    height: 35px;
    background-color: #ff9f73;
    border: 0.5px solid #000;
    text-align: center;
    justify-content: center;
    border-radius: 5px;
    color: #000;
    padding: 8px;
}
.login #error {
	margin: 15px 0;
}
.box form .row.between input{
    width: 164px;
    margin-top: 3px;
}


input[type="file"] {
	width: max-content;
	font-size: 17px;
}

label[for="img"]{
	width: max-content;
}

input[type="submit"] {
	margin: 10px 0;
	height: 35px;
	border: 1px solid #333;
	background-color: #333333;
	color: #fff;
}
.link {
	text-align: center;
	font-size: 17px;
}

.login label input {
	margin-top: 5px;
}

#error {
	display: none;
}

label[for="pass"]{
	position: relative;
}

label[for="pass"] i{
	position: absolute;
	right: 9px;
    top: 50%;
}

label[for="repass"]{
	position: relative;
}

label[for="repass"] i{
	position: absolute;
	right: 9px;
    top: 50%;
}

.login label[for="pass"] i{
	position: absolute;
	right: 9px;
    top: 50%;
	margin: 3px 0;
}

i.unEye::after{
	content: '/';
    font-weight: bolder;
    position: absolute;
    right: 27%;
    font-size: 31px;
    top: -5px;
}