.box {
    width: 350px;
    height: max-content;
    border-radius: 10px;
    background-color: #fff;
    padding: 20px 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.userInfo {
    width: 100%;
    padding: 5px 0;
}

.userInfo .row img {
    width: 36px;
    height: 36px;
    border: 1px solid #000;
    border-radius: 50%;
    margin-right: 5px;
}

.userInfo .status {
    font-size: 14px;
    color: #1c2da5;
}

.logout {
    padding: 5px;
    background-color: #333;
    color: #fff;
    border-radius: 5px;
    height: 30px;
    margin: 5px;
    font-size: 15px;
}

form.search-box.row {
    width: 100%;
    justify-content: space-between;
    margin: 10px 0;
}

form input {
    height: 32px;
    padding: 3px 5px;
}

input[type="text"] {
    width: 100%;
    margin-right: 5px;
    font-size: 15px;
}

input.btn {
    width: 39px;
    background-color: #333;
    color: #fff;
    border-radius: 5px;
    border: none;
}

ul.users {
    width: 100%;
    position: relative;
}

.users li {
    width: 100%;
    height: 62px;
    border-bottom: 0.5px solid #727272;
    margin: 5px 0;
    padding: 11px 0;
}

.users .row img {
    width: 30px;
    height: 30px;
    border: 1px solid #000;
    margin: 3px 0;
    border-radius: 50%;
    margin-right: 8px;
}

.users h3.user {
    font-size: 18px;
}

.message {
    font-size: 15px;
    color: #53535c;
}

.users .status::before {
    content: '';
    width: 0px;
    height: 0px;
    background: #000;
    padding: 0px 8px;
    border-radius: 50%;
    margin: 10px 0;
}

.users .status::before {
    content: '';
    width: 0px;
    height: 0px;
    position: relative;
    background: #0aff55;
    padding: 0px 8px;
    border-radius: 50%;
    top: 26%;
    margin-right: 7px;
}

